.page2 {
    min-height: 100vh;
    width: 100%;
}

.page2 .container2 {
    min-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lnkbtn {
    height: 300px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.lnkbtn a {
    display: block;
    padding: 0;
    height: 300px;
}

.lnkbtn .img {
    width: 250px;
    height: 180px;
    border-radius: 20px 20px 0 0 ;
}

.lnkbtn .p p {
    padding: 10px;
    margin: 0;
    font-size: 1.4em;
    font-family: EduNSWACTFoundation;
    color: #000000;
}

.si .img {
    background: url(../../files/si.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.eng .img {
    background: url(../../files/eng.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}