.page2 {
    min-height: 100vh;
    width: 100%;
}

.page2 .container2 {
    min-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lnkbtn {
    height: 300px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.lnkbtn a {
    padding: 0;
}

.lnkbtn .img {
    width: 250px;
    height: 180px;
    border-radius: 20px 20px 0 0 ;
}

.lnkbtn .p p {
    padding: 10px;
    margin: 0;
    font-size: 1.4em;
    font-family: EduNSWACTFoundation;
    color: #000000;
}

.y16 .img {
    background: url(../../../../files/2016.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.y17 .img {
    background: url(../../../../files/2017.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.y18 .img {
    background: url(../../../../files/2018.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.y19 .img {
    background: url(../../../../files/2019.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.y20 .img {
    background: url(../../../../files/2020.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.y21 .img {
    background: url(../../../../files/2021.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.y22 .img {
    background: url(../../../../files/2022.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.pt1 .img {
    background: url(../../../../files/pt1.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.pt2 .img {
    background: url(../../../../files/pt2.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.shm .img {
    background: url(../../../../files/shm.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}