.message {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    z-index: 5;
    top: 0px;
}

.message .wlcm {
    color: aqua;
    font-size: 90px;
}

.ln2 {
    font-family: sans-serif;
}

.page2 {
    height: 100vh;
    width: 100%;
}

.page2 .container2 {
    margin-left: 80px; /* Ensure content avoids sidebar */
    padding: 20px 20px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.lnkbtn {
    height: 200px;
    width: 250px;
    margin: 10px;
    background-color: aquamarine;
    border: 0px;
    border-radius: 20px;
}

.choise {
    margin: 0;
}