.page2 {
    min-height: 100vh;
    width: 100%;
}

.page2 .container2 {
    min-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    align-content: center;
}

.lnkbtn {
    height: 300px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.lnkbtn a {
    padding: 0;
}

.lnkbtn .img {
    width: 250px;
    height: 180px;
    border-radius: 20px 20px 0 0 ;
}

.lnkbtn .p p {
    padding: 10px;
    margin: 0;
    font-size: 1.4em;
    font-family: EduNSWACTFoundation;
    color: #000000;
}

.pt1 .img {
    background: url(../../../files/mtzpt1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.pt2 .img {
    background: url(../../../files/mtzpt2.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtzb .img {
    background: url(../../../files/mtzbeginners.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtzq .img {
    background: url(../../../files/mtzpq.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}